####
## System Files
####
.DS_Store
thumbs.db

####
## Output Files
####
/dist
/docs
/bin
/*.json
/coverage

####
## Test Files
####
/resources
/out
/nimcache
/tests/megatest*
/tests/**/*.exe
/tests/**/*.js
/outputGotten.txt
/testresults
/lcov.info

####
## Temp File
####
generated_not_to_break_here

####
## Misc
####
!.gitkeep
